<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.financial.cloud.repository.hr.EmployeeMapper">
    <select id="pageList" parameterType="com.financial.cloud.dto.hr.EmployeePageDto"
            resultType="com.financial.cloud.domain.hr.Employee">
        SELECT
        je.*,
        jo.org_name AS departmentName,
        jbs.name AS booksSetName
        FROM
        employee je
        INNER JOIN
        organizations jo
        ON je.department_id = jo.id
        AND jo.deleted = 'n'
        and jo.book_id = #{dto.bookId}
        <if test="dto.departmentId != null and dto.departmentId != ''">
            AND jo.code_path LIKE CONCAT('%', #{dto.departmentId}, '%')
        </if>
        INNER JOIN
        book jbs
        ON je.book_id = jbs.id
        AND jbs.deleted = 'n'
        and jbs.id = #{dto.bookId}
        WHERE
        je.deleted = 'n'
        <if test="dto.displayName != null and dto.displayName != ''">
            AND je.display_name LIKE CONCAT('%', #{dto.displayName}, '%')
        </if>
        <if test="dto.employeeNumber != null and dto.employeeNumber != ''">
            AND je.employee_number LIKE CONCAT('%', #{dto.employeeNumber}, '%')
        </if>
    </select>

    <select id="listNoCalCurrent" parameterType="com.financial.cloud.dto.hr.ListNoCalCurrentDto"
            resultType="com.financial.cloud.domain.hr.Employee">
        SELECT je.* FROM employee je
                             LEFT JOIN employee_salary_temp jest ON je.id = jest.employee_id
            AND jest.belong_date = #{dto.belongDate}
            AND jest.deleted = 'n'
            AND jest.book_id = #{dto.bookId}
        WHERE jest.employee_id IS NULL
          AND je.deleted = 'n'
          AND je.employee_status = 'RESIDENT'
          AND je.book_id = #{dto.bookId}
    </select>
</mapper>
